sparrow-1.7.10-x86_64.tar.gz
logs/*
logs_temp/*
!logs/addresses_send.txt
containers/bitcoin-testnet-node/testnet3
containers/bitcoin-testnet-node/wallets/wallet/*
containers/whirlpool-sparrow-client/transaction.txt
containers/whirlpool-sparrow-client/utxo.txt
containers/whirlpool-sparrow-client/transaction2.txt
containers/whirlpool-sparrow-client/utxo2.txt
analysis/activity.csv
analysis/mixs.csv
analysis/test.py
analysis/test2.py
analysis_results.xlsx
analysis/analysis_results.xlsx
